<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExpenseTracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
    </style>
  </head>
  <body>
<div class="container mt-4 justify-content-center " style="width:18rem; height:20px">
<div class="mb-3">
<h1>Expense Tracker Update</h1></div><hr>
<form action="{% url 'update_submit' data.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Date</label>
      <input type="date" name="date" class="form-control" value="{{ data.date|date:'Y-m-d' }}">
    </div>
  
    <div class="mb-3">
      <label class="form-label">Amount</label>
      <input type="text" name="amount" class="form-control" value="{{ data.amount }}">
    </div>
  
    <div class="mb-3">
      <label class="form-label">Mode Of Payment</label>
      <input type="text" name="mode" class="form-control" value="{{ data.mode }}">
    </div>
  
    <div class="mb-3">
      <label class="form-label">Category</label>
      <input type="text" name="category" class="form-control" value="{{ data.category }}">
    </div>
  
    <div class="modal-footer gap-4 d-flex justify-content-center align-items-center">
      <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <input type="submit" name="saved" class="btn btn-primary" value="Update">
    </div>
  </form>
  
<div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>